{% block content %}
  <article>
    <h3><a href="{{post.link}}">{{ post.title }}</a></h3>
    {{ post.content }}
    <ul class="cat-list">
    {% for term in post.terms() %}
      <li><a href="{{term.link}}">{{term.name}}</a></li>
    {% endfor %}
    </ul>
  </article>
{% endblock %}