{% block content %}
  <h2>{{ post.title }}</h2>
  <p class="blog-author">
    <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a> - {{ post.post_date|date}}
  </p>
  
  <div class="feature-picture">
    <img src="{{post.thumbnail.src}}" class="feature" />
  </div>

  {% if post.terms('category') %}
  <div class="category">
    <label>Categorised in:</label>
    <ul class="cat-list">
    {% for term in post.terms('category') %}
      <li><a href="{{term.link}}">{{term.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {{ post.content }}
  
  {% if post.terms('tags') %}
  <div class="tags">
    <label>Tags in:</label>
    <ul class="tag-list">
    {% for term in post.terms('tags') %}
      <li><a href="{{term.link}}">{{term.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  <h3>Related Stories With Category</h3>
  {% for post in related('category') %}
    <h4><a href="{{post.link}}">{{post.title}}</a></h4>
    <p>{{post.content|excerpt(30)}}</p>
  {% endfor %}

  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {{acf}}
{% endblock %}